version: "3.8"

services:
  baileys-gateway:
    build: .
    container_name: baileys_
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - TZ=Asia/Jakarta
      - WEBHOOK_URL_1=${WEBHOOK_URL_1:-}
      - WEBHOOK_URL_2=${WEBHOOK_URL_2:-}
      - WEBHOOK_URL_3=${WEBHOOK_URL_3:-}
      - DB_HOST=${DB_HOST:-}
      - DB_USER=${DB_USER:-}
      - DB_PASSWORD=${DB_PASSWORD:-}
      - DB_NAME=${DB_NAME:-}
      - DB_TABLE=${DB_TABLE:-}
      - PORT=3000
    volumes:
      - ./sessions:/app/sessions
      - ./media:/app/media
      - ./src:/app/src
      - ./log:/app/log
    networks:
      - baileys_network

networks:
  baileys_network:
    driver: bridge
